<div class="product-style">
    <div class="product-element-container">

        <div class="left-product-element">
            <div class="left-image-container">
            
                <div class="product-image-container">
                    <img class="product-image" src="C:\Users\ricky\Downloads\sviluppo\frontend\html-css-js-train\angular-inventory-management\src\assets\img\black.jpg" alt="">
                </div>
            
            </div>

            <div class="left-description-container">
                
                <div class="product-name-container">
                    <p>{{product_name}}</p>
                </div>
                
                <div class="product-department-container">
                    <p>{{department}}</p>
                </div>

            </div>
        </div>
        
        <div class="right-product-element">
            <div class="product-price-container">
                <p>{{price}}</p>
            </div>
        </div>
    
    </div>
</div>