<div class="chat-window">

    <div class="chat-title-container">
        <p>Chat - {{actualThread.name}}</p>
    </div>

    <div class="chat-messages-container">
        <div class="message-container" *ngFor="let message of messages">
            <div class="message">
                <div class="message-box">
                    <p>{{message}} <br> data</p>
                </div>
                <div class="message-img-container">
                    <img class="message-img" src="favicon.ico" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="chat-message-bar">
        <input class="chat-message-input" type="text" placeholder="Write your message here">
        <button class="message-button-submit" type="submit">Send</button>
    </div>

</div>