<div class="chat-window">

    <div class="chat-title-container">
        <p>Chat - {{actualThread}}</p>
    </div>

    <div class="chat-messages-container">
        <div class="message-container" *ngFor="let message of messages">
            <div class="message">
                <p>{{message}}</p>
                <img src="favicon.ico" alt="">
                <p>data</p>
            </div>
        </div>
    </div>

    <div class="chat-message-bar">
        <input class="chat-message-input" type="text" placeholder="Write your message here">
        <button class="message-button-submit" type="submit">Send</button>
    </div>

</div>