.main {
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    margin: 0px 64px;
    position: sticky;
    top: 0px;
}

.navbar-container {
    font-weight: 200;
    font-size: 12px;
}