.thread {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: azure;
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 12px;
}