.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
}

.logo-container {
    max-width: 64px;
}

.logo-img {
    width: 100%;
}

.search-box-container {
    max-width: 512px;
}

.search-bar {
    border: 1px solid black;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}