<div class="navbar">

    <div class="navbar-container">
        <div class="logo-container">
            <img class="logo-img" src="spotify_icon.svg">
        </div>
        <div class="search-box-container">
            <input class="search-bar" type="text" #searchString>
        </div>
        <div class="button-search-container">
            <button class="button-search" (click)="search(searchString.value)">search!</button>
        </div>
    </div>

</div>

<div class="content">

    <app-track [track]="result" *ngFor="let result of results"></app-track>

</div>

<router-outlet />
