<main>
  <mat-toolbar class="toolbar-container">
    <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
  </mat-toolbar>
  <div class="main-container">
    <app-sidenav></app-sidenav>
    
  </div>
</main>

<router-outlet />
